@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<h2>临时二维码</h2>
<div style="text-align: center">
    <img alt="" src="@ViewBag.Inage1" />
</div>
<h2>永久二维码</h2>
<div style="text-align: center">
    <img alt="" src="@ViewBag.Inage2" />
</div>
