@{
    ViewBag.Title = "SaoMaPayTwo";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<h2>扫码支付模式二</h2>
<div style="text-align: center">
    <img alt="" src="@Url.Action("NativePayTwo", "Pay", new { area = "Test", id = 1 })" />
</div>
