<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--微信公众平台测试帐号-->
    <add key="AppID" value="wxa757cc68ddda1d38" />
    <add key="AppSecret" value="ec05e1a1b00523aa441af6ae4034e469" />
    <add key="Token" value="liblog" />
    <add key="EncodingAESKey" value="CmZZaWFvXmyARDTbN1S2Ybbs9hmPBcd5dRU0t9XxhMC" />
    <!--个人公众号：linkin_geren@hreec.com  linkin.2015 -->
    <!--<add key="AppID" value="wx76545552ca4bc8af" />
    <add key="AppSecret" value="f6ead658f349dda31b772da310fc0031" />
    <add key="Token" value="linkin" />
    <add key="EncodingAESKey" value="CmZZaWFvXmyARDTbN1S2Ybbs9hmPBcd5dRU0t9XxhMC" />
    <add key="MchID" value="1270000601"/>
    <add key="MchAPISecret" value="00b743e820ae4131aee2013e0ce3009b"/>-->
    <!--顾问公众号：linkin_guwen@hreec.com  linkin.2015 -->
    <!--<add key="AppID" value="wxfa893855d0d55065" />
    <add key="AppSecret" value="cc0677216b541103971e00701137d034" />
    <add key="Token" value="linkin" />
    <add key="EncodingAESKey" value="kLdgEfETAXoZ3BEykznryMMrZfF7yU1rJEeOkJuGUv2" />-->
    <!--企业公众号：linkin_qiye@hreec.com   linkin.2015 -->
    <!--<add key="AppID" value="wx260c648d94a8c768" />
    <add key="AppSecret" value="743290cbc947b8f6b16b472a011cb251" />
    <add key="Token" value="linkin" />
    <add key="EncodingAESKey" value="kadLTZ1IMcbzXZKjAjApzbsb6WZbG3AVL7sKO5EjOdT" />-->
    <!--睿桃公众号：ruitao@hreec.com   zhiyeshop123  -->
    <!--<add key="AppID" value="wx19b5a283864bd0ea" />
    <add key="AppSecret" value="922d96e50bd6089fcdb248a56de0aead" />
    <add key="Token" value="" />
    <add key="EncodingAESKey" value="" />
    <add key="MchID" value="1270000601"/>
    <add key="MchAPISecret" value="00b743e820ae4131aee2013e0ce3009b"/>-->

    <add key="USER_AGENT" value="" />
    <add key="ACCESS_KEY" value="89yJZfk1rIokuh4R7DlKcOgb-lv9eFDmvc88xTm-" />
    <add key="SECRET_KEY" value="8UpD32pBmdU1C4-KlveisBqGskd-HmjLcFEufsZK" />
    <add key="RS_HOST" value="" /><!--七牛资源管理服务器地址-->
    <add key="UP_HOST" value="" /><!--七牛资源上传服务器地址-->
    <add key="RSF_HOST" value="" /><!--七牛资源列表服务器地址-->
    <add key="PREFETCH_HOST" value="" />
  </appSettings>
  <system.web>
    <httpRuntime />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Home/test" defaultUrl="~/" timeout="2880" name="YLPWechat"></forms>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>