@{
    ViewBag.Title = "二维码生成测试";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<h2>临时二维码</h2>
<div style="text-align: center">
    <img alt="" src="@ViewBag.Image1" />
</div>
<h2>永久二维码</h2>
<div style="text-align: center">
    <img alt="" src="@ViewBag.Image2" />
</div>
