@{
    ViewBag.Title = "测试分享";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<h2>测试分享</h2>


@section scripts{

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <script type="text/javascript">

        var timestamp = '@Wechat.API.Common.GetTimeStamp()',//时间戳
            noncestr = '@Wechat.API.Common.GetNonceStr()',//随即串
            url = location.href;//当前页面路径


        $.post('@Url.Action("GetSign", "JsSdk", new { area = "Test" })', { timestamp: timestamp, nonceStr: noncestr, url: url }, function (sign) {

            //通过config接口注入权限验证配置
            wx.config({
                debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: '@Wechat.API.Models.ApiModel.AppID', // 必填，公众号的唯一标识
                timestamp: timestamp, // 必填，生成签名的时间戳
                nonceStr: noncestr, // 必填，生成签名的随机串
                signature: sign,// 必填，签名，见附录1
                jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });

            //通过ready接口处理成功验证
            wx.ready(function () {

                //判断当前客户端版本是否支持指定JS接口
                //wx.checkJsApi({
                //    jsApiList: ['onMenuShareTimeline'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                //    success: function (res) {
                //        // 以键值对的形式返回，可用的api值true，不可用为false
                //        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                //    }
                //});

                //获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
                wx.onMenuShareTimeline({
                    title: '测试分享到朋友圈', // 分享标题
                    link: 'http://www.liblog.cn/test/qrcode/index', // 分享链接
                    imgUrl: '~/Content/images/logo.png', // 分享图标
                    success: function () {
                        //用户确认分享后执行的回调函数
                    },
                    fail: function () {
                        //接口调用失败时执行的回调函数 
                    },
                    complete: function () {
                        //接口调用完成时执行的回调函数，无论成功或失败都会执行 
                    },
                    cancel: function () {
                        //用户取消分享后执行的回调函数
                    },
                    trigger: function () {
                        //监听Menu中的按钮点击时触发的方法，该方法仅支持Menu中的相关接口,不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                    }
                });

                //获取“分享给朋友”按钮点击状态及自定义分享内容接口
                wx.onMenuShareAppMessage({
                    title: '测试分享给朋友', // 分享标题
                    desc: '分享给你，因为你是我的好朋友，好呀好朋友', // 分享描述
                    link: 'http://www.liblog.cn/test/qrcode/index', // 分享链接
                    imgUrl: '~/Content/images/logo.png', // 分享图标
                    type: 'link', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });

                //获取“分享到QQ”按钮点击状态及自定义分享内容接口
                wx.onMenuShareQQ({
                    title: '测试分享到QQ', // 分享标题
                    desc: '分享到我的QQ，其他人都可以看到', // 分享描述
                    link: 'http://www.liblog.cn/test/qrcode/index', // 分享链接
                    imgUrl: '~/Content/images/logo.png', // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });

                //获取“分享到腾讯微博”按钮点击状态及自定义分享内容接口
                wx.onMenuShareWeibo({
                    title: '测试分享到腾讯微博', // 分享标题
                    desc: '分享到我的腾讯微博，其他人都可以看到', // 分享描述
                    link: 'http://www.liblog.cn/test/qrcode/index', // 分享链接
                    imgUrl: '~/Content/images/logo.png', // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });

                //获取“分享到QQ空间”按钮点击状态及自定义分享内容接口
                wx.onMenuShareQZone({
                    title: '测试分享到QQ空间', // 分享标题
                    desc: '分享到我的QQ空间，其他人都可以看到', // 分享描述
                    link: 'http://www.liblog.cn/test/qrcode/index', // 分享链接
                    imgUrl: '~/Content/images/logo.png', // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });

            //通过error接口处理失败验证
            wx.error(function () {
            });
        })
    </script>
}