<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @RenderSection("styles", required: false)
</head>
<body>

    @RenderBody()

    <!--全局常量-->
    <script type="text/javascript">
    </script>

    <!--全局js-->

    <script src="~/Content/lib/jquery/jquery-1.8.3.min.js"></script>

    <script src="~/Content/lib/jquery.validate/jquery.validate-1.14.0.js"></script>
    <script src="~/Content/lib/jquery.validate/messages_zh.min.js"></script>
    <script src="~/Content/js/jquery.validate.extend.js"></script>

    <script src="~/Content/js/jquery.ajaxsumbit.extend.js"></script>

    <!--页面js-->
    @RenderSection("scripts", required: false)
</body>
</html>
