@{
    ViewBag.Title = "SaoMaPayOne";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<h2>扫码支付模式一</h2>
<div style="text-align: center">
    <img alt="" src="@Url.Action("NativePayOne", "Pay", new { area = string.Empty, id = 1 })" />
</div>
