<?xml version="1.0" encoding="utf-8"?>
<ConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppID>wx19b5a283864bd0ea</AppID>
  <AppSecret>922d96e50bd6089fcdb248a56de0aead</AppSecret>
  <Token>linkin</Token>
  <EncodingAESKey>CmZZaWFvXmyARDTbN1S2Ybbs9hmPBcd5dRU0t9XxhMC</EncodingAESKey>
  <MchID>1270000601</MchID>
  <MchAPISecret>00b743e820ae4131aee2013e0ce3009b</MchAPISecret>
</ConfigModel>
