<?xml version="1.0" encoding="utf-8"?>
<ApiConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppID>116.255.228.106</AppID>
  <AppSecret>25</AppSecret>
  <Token>service@linkin.net</Token>
  <EncodingAESKey>manager</EncodingAESKey>
  <MchID>金领英才网</MchID>
  <MchAPISecret>金领英才网</MchAPISecret>
</ApiConfigModel>
